extensions:
  health_check:
    endpoint: 0.0.0.0:${env:OTEL_HEALTHCHECK_PORT:-13133}

receivers:
  datadog:
    endpoint: 0.0.0.0:${env:OTEL_DATADOG_RECEIVER_PORT:-8226}
    read_timeout: 60s
    trace_id_cache_size: 100

processors:
  batch:
    timeout: 30s
    send_batch_size: 10000
    send_batch_max_size: 15000

  resourcedetection/env:
    # Allow setting resource attributes with the OTEL_RESOURCE_ATTRIBUTES environment variables. See
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/processor/resourcedetectionprocessor/README.md#environment-variable
    detectors:
      - env
    override: true
    timeout: 5s

  transform/datadoglogs:
    error_mode: "ignore"
    log_statements:
      # Set the Otel timestamp (nanoseconds since epoch) from the Datadog attribute "timestamp" (milliseconds since
      # epoch)
      - set(log.time_unix_nano, log.attributes["timestamp"]*1000000)

exporters:
  otlphttp/phoebe:
    endpoint: ${env:OTEL_EXPORTER_ENDPOINT:-https://ingest.phoebe.ai/otel}
    compression: gzip
    headers:
      X-API-Key: ${env:PHOEBE_API_KEY}

service:
  telemetry:
    logs:
      level: "INFO"
      encoding: "json"
  extensions:
    - health_check
  pipelines:
    traces:
      receivers:
        - datadog
      processors:
        - batch
      exporters:
        - otlphttp/phoebe

    metrics:
      receivers:
        - datadog
      processors:
        - resourcedetection/env
        - batch
      exporters:
        - otlphttp/phoebe

    logs:
      receivers:
        - datadog
      processors:
        - transform/datadoglogs
        - batch
      exporters:
        - otlphttp/phoebe
