name: Deploy Phoebe Otel Collector Image
on:
  push:
    branches:
      - main

concurrency:
  group: cd-${{ github.ref }}

env:
  AWS_REGION: "us-east-1" # ECR public is only in us-east-1
  AWS_ROLE: "arn:aws:iam::637423592681:role/GitHub-OIDC-Role-KLyU6ka8s8jJ"

permissions:
  id-token: write
  contents: read

jobs:
  build_and_push:
    name: Build and push

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ env.AWS_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: --debug

      - name: Build and push Otel Collector Image
        env:
          REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          # TODO: Change alias to `phoebe` once approved.
          REGISTRY_ALIAS: x5w6m8m9
          REPOSITORY: otel-collector
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker buildx build \
            --platform linux/amd64 \
            --provenance=false \
            --push \
            --cache-to type=gha,mode=max \
            --cache-from type=gha \
            -t $REGISTRY/$REGISTRY_ALIAS/$REPOSITORY:$IMAGE_TAG \
            -t $REGISTRY/$REGISTRY_ALIAS/$REPOSITORY:latest \
            -f Dockerfile .
